<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>卡路哩 calorie - 會員中心</title>
    <!-- 引入 Google Fonts 繁體中文基礎字體 -->
    <link href="https://googleapis.com" rel="stylesheet">
    <!-- 引入外部 CSS 樣式檔 -->
    <link rel="stylesheet" href="Nutritionist.css">
    <link rel="stylesheet" href="../index/style.css">
    <link rel="stylesheet" href="goodhealth.css">


</head>

<body>

    <header class="navbar">
        <div class="logo">
            <a href="../index/index.html">
                <img src="../index/logo.png" alt="卡路里 calorie">
            </a>
        </div>
        <nav class="nav-links">
            <a href="../index/index.html">首頁(熱量計算)</a>
            <a href="../sport/sport.html">運動空間</a>
            <a href="../teacher/health.html" class="active">營養師介紹</a>


    </header>


    <!-- 主要內容區 Container -->
    <main class="main-container">


        <!-- 右側登入卡片 -->
        <section class="login-card">
            <div class="card-tabs">
                <button class="tab-btn active">預約表單填寫</button>

            </div>

            <form>
                <div class="form-group">
                    <label for="email">姓名</label>
                    <input type=" " id="email" class="form-control" placeholder="王小美">
                </div>

                <div class="form-group">
                    <label for="email">連絡電話</label>
                    <input type=" " id="email" class="form-control" placeholder="09xx-xxxxxx">
                </div>

                <div class="form-group">
                    <label for="email">電子郵件 (Email Address)</label>
                    <input type="email" id="email" class="form-control" placeholder="username@email.com">
                </div>

                <div class="form-group">
                    <div class="input-wrapper">
                        <label for="password">可聯繫時段</label>

                        <input type=" " id="password" class="form-control" placeholder="(早上/下午/晚上)">
                    </div>
                </div>

                <div class="form-options">
                    <label>
                        <input type="checkbox"> 同意小幫手與您聯繫
                    </label>
                </div>

                <button type="submit" class="submit-btn">確認預約卡路哩營養師</button>
            </form>


        </section>

    </main>

</body>

</html>